<div class="row">
	<h5 class="card-title col-md-8 mt-3 mb-3">
		<a href="{{ path('associations_show', {'slug': asso.slug}) }}">{{ asso.name }}</a>
	</h5>
	<p class="card-text col-md-8 mt-3 mb-3">{{ asso.address}} - {{ asso.postalCode}} {{ asso.city}}</p>
	<p class="card-text col-md-8 mt-3 mb-3">{{ asso.phone}}</p>
</div>