{% extends 'base.html.twig' %}

{% block title %}
    {{ asso.name }}
{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md">
                <h2>{{ asso.name }}</h2>
                <h3>{{ asso.address}} - {{ asso.postalCode}} {{ asso.city}}</h3>
                    {# <a href="#" class="btn btn-primary">Contacter l'association</a> #}
                
                {{ form_start(form_contact)}}

                    <div class="row">
                        <div class="col">{{ form_row(form_contact.lastName)}}</div>
                        <div class="col">{{ form_row(form_contact.firstName)}}</div>
                    </div>

                    <div class="row">
                        <div class="col">{{ form_row(form_contact.phone)}}</div>
                        <div class="col">{{ form_row(form_contact.email)}}</div>
                    </div>

                    <div class="row">
                        <div class="col">{{ form_row(form_contact.qualification)}}</div>
                        <div class="col">{{ form_row(form_contact.sinister)}}</div>
                    </div>

                    <div class="row">
                        <div class="col">{{ form_row(form_contact.message)}}</div>
                    </div>
                    
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Oui, j'accepte que mes données soient transmises à Aidasinistre et à {{asso.name}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Envoyer </button>
                    </div>
                    
                {{ form_end(form_contact)}}
            </div>
        </div>
	</div>
</div>

{% endblock %}
