
<h2>Vous avez un nouveau mail via le formulaire contact</h2>

<p>
    <strong>Nom de l'association : </strong> <a href="#">{{ contact.association.name}}</a>
</p>

<p>
    <strong>Nom : </strong> {{ contact.lastName}}
</p>

<p>
    <strong>Prenom : </strong> {{ contact.firstName}}
</p>

<p>
    <strong>Tel : </strong> {{ contact.phone}}
</p>

<p>
    <strong>Email : </strong> {{ contact.email}}
</p>

<p>
    <strong>Message : </strong> {{ contact.message | nl2br}}
</p>

<p>
    <strong>Qualification : </strong> {{ contact.qualification}}
</p>

<p>
    <strong>Sinistre : </strong> {{ contact.sinister}}
</p>